{{#each tracks }}
    <div class="track-item" data-audio="{{ audio }}">
        <div class="track-item__index">0{{ index }}</div>
        <i class="track-item__icon fas fa-plus" data-id="{{ id }}"></i>
        <img class="track-item__album" src="{{ album }}">
        <div class="track-item__wrapper">
            <div class="track-item__title">{{ title }}</div>
            <div class="track-item__group">{{ group }}</div>
        </div>
        <div class="track-item__duration">{{ duration }}</div>
    </div>
{{/each}}
