{{#each tracks as |track i| }}
    <div class="track-item" data-audio="{{ track.attrs.audio }}" {{#if ../orderShow }}data-orderIdx="{{i}}"{{/if}} data-id="{{ attrs.id }}" data-add="{{ attrs.is_favorite }}" data-like="{{ attrs.is_liked }}">
        <div class="track-item__index">{{ track.attrs.index }}</div>
        {{# if ../user }}
            <div class="track-item__icon {{# if attrs.is_liked }}track-item__icon_active{{/if}} like" data-track="{{ track.attrs.id }}" data-like="{{ attrs.is_liked }}"><i class="like-icon {{# if attrs.is_liked }}fas{{ else  }}far{{/if}} fa-heart"></i></div>
            <div class="track-item__icon add-favorite fas fa-plus {{# if attrs.is_favorite }}track-item__icon_rotated{{/if}}" data-id="{{ attrs.id }}" data-add="{{ attrs.is_favorite }}"></div>
        {{/if}}
        <img class="track-item__album" data-id="{{ track.attrs.album_id }}" src="{{ track.attrs.album_poster }}">
        <div class="track-item__wrapper">
            <div class="track-item__title">{{ attrs.title }}</div>
            <a href="/artist/{{ track.attrs.artist_id }}" class="track-item__group" data-id="{{ track.attrs.artist_id }}">{{ track.attrs.artist }}</a>
        </div>
        <div class="track-item__duration">{{ track.attrs.duration }}</div>
        <i class="track-item__icon track-item__icon-dots fas fa-ellipsis-v" data-disabled="true"></i>
        {{# if ../orderShow }}
            <i class="track-item__icon fas fa-times remove-order" data-id="{{ attrs.id }}"></i>
        {{/if}}
        <div class="track-item__dots-wrapper">
            {{#if ../user }}
                {{#if  ../playlistsLen }}
                    {{#if ../playlistsHidden  }}
                        <div class="track-item__dots-item track-item__playlist-add">
                            Добавить в плейлист
                            <div class="track-item__playlists">
                                {{#each ../playlists as |playlist| }}
                                    <div class="track-item__playlist-item" data-playlist="{{ playlist.attrs.id }}" data-track="{{ track.attrs.id }}">{{ playlist.attrs.title }}</div>
                                {{/each}}
                            </div>
                        </div>
                    {{/if }}
                {{/if }}
            {{/if }}
            <a href="/artist/{{ track.attrs.artist_id }}" class="track-item__dots-item">Перейти к исполнителю</a>
            <div class="track-item__dots-item add-order">Добавить в очередь</div>
        </div>
    </div>
{{/each}}
