{{#each tracks }}
    <div class="track-item" data-audio="{{ attrs.audio }}">
        <div class="track-item__index">{{ attrs.index }}</div>
        <i class="track-item__icon fas fa-plus" data-id="{{ attrs.id }}"></i>
        <img class="track-item__album" src="{{ attrs.album_poster }}">
        <div class="track-item__wrapper">
            <div class="track-item__title">{{ attrs.title }}</div>
            <a href="/artist/{{ attrs.artist_id }}" class="track-item__group">{{ attrs.artist }}</a>
        </div>
        <div class="track-item__duration">{{ attrs.duration }}</div>
    </div>
{{/each}}
