<div class="artist-page">
    <div class="artist-page-preview">
        <div class="artist-page-preview__wrapper" style="background-image: url({{ artist.poster }})">
            <div class="artist-page-preview__content">
                <img class="artist-page-preview__img" src="{{ artist.avatar }}">
                <div class="artist-page-preview__content-wrapper">
                    <div class="artist-page-preview__title">{{ artist.name }}</div>
                    <div class="artist-page-preview__buttons-wrapper">
                        <div class="button-primary random-artist-track" data-id="{{ artist.id }}">
                            Случайный трек
                            <i class="random-track-icon fas fa-play"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="artist-page-preview__links">
                <div class="artist-page-preview__link artist-page-preview__link_active review-button">Обзор</div>
                <div class="artist-page-preview__link text-button">об исполнителе</div>
            </div>
        </div>
    </div>
    <div class="artist-page__content">
        <div class="artist-page__review">
            <div class="artist-page__wrapper">
                <div class="artist-page__tracks-wrapper">
                    <div class="artist-page__subtitle">Новые песни</div>
                    <div class="artist-page__tracks">
                        {{{tracks}}}
                    </div>
                </div>
                <div class="artist-page__tracks-wrapper">
                    <div class="artist-page__subtitle">Популярные песни</div>
                    <div class="artist-page__tracks">
                        {{{tracks}}}
                    </div>
                </div>
            </div>
            <div class="artist-page__subtitle">Альбомы</div>
            <div class="artist-page__albums">
                {{#each albums }}
                    <div class="album-item">
                        <a href="/album/{{ attrs.id}}"><img class="album-item__album" src="{{ attrs.poster }}"></a>
                        <a href="/album/{{ attrs.id}}" class="album-item__title">{{ attrs.title }}</a>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="artist-page__text artist-page__hidden">{{ artist.description }}</div>
    </div>
</div>
