<div class="settings-page">
    <div class="settings-page__title">Настройки</div>
    <div class="settings-page__wrapper">
        <div class="settings-page__avatar">
            <form class="form-avatar form-change-avatar" method="POST">
                <div class="avatar-error"></div>
                <label for="upload_avatar">
                    {{# if isAvatar }}
                    <img class="form-avatar__img" src="{{avatar}}">
                    {{else}}
                        <img class="form-avatar__img" src="{{ defaultAvatar }}">
                    {{/if}}
                </label>
                <label for="upload_avatar" class="button-primary">Изменить аватарку</label>
                <input class="form-avatar__input" type="file" name="upload_avatar" id="upload_avatar" accept="image/jpeg,image/png,image/jpg">
            </form>
        </div>
        <div class="settings-page__forms">
            <form class="form-change form-change-profile" method="POST">
                <div class="profile-error"></div>
                <div class="form-change__title">Ваши данные</div>
                <div class="form-change__wrapper">
                    <div class="form-change-item">
                        <div class="form-change-item__title">Имя пользователя</div>
                        <input class="form-change-item__input" type="text" name="username" value="{{ username }}">
                    </div>
                    <div class="form-change-item">
                        <div class="form-change-item__title">Почта</div>
                        <input class="form-change-item__input" type="text" name="email" value="{{ email }}">
                    </div>
                </div>
                <input type="submit" class="button-primary form-submit" value="Сохранить">
            </form>
            <form class="form-change form-change-password" method="POST">
                <div class="password-error"></div>
                <div class="form-change__title">Безопасность</div>
                <div class="form-change__wrapper">
                    <div class="form-change-item">
                        <div class="form-change-item__title">Старый пароль</div>
                        <input class="form-change-item__input" type="password" name="old_password">
                    </div>
                    <div class="form-change-item">
                        <div class="form-change-item__title">Новый пароль</div>
                        <input class="form-change-item__input" type="password" name="new_password">
                    </div>
                    <div class="form-change-item">
                        <div class="form-change-item__title">Повторите пароль</div>
                        <input class="form-change-item__input" type="password" name="new_repeated_password">
                    </div>
                </div>
                <input type="submit" class="button-primary form-submit" value="Изменить">
            </form>
            <div class="button-secondary logout-btn">Выйти</div>
        </div>
    </div>
</div>
