<div class="album-page">
    <div class="album-page__wrapper">
        <div class="album-page-header">
            <div class="header-item">
                <img class="header-item__poster" src="{{ album.poster }}">
                <div class="header-item__info">
                    <div class="header-item__title">{{ album.title }}</div>
                    <a href="/artist/{{ album.artist_id }}" class="header-item__group">{{ album.artist_name }}</a>
                    <div class="button-primary button-play-album">
                        Воспроизвести
                        <i class="random-track-icon fas fa-play"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="album-page-section">
            <div class="album-page-section__wrapper_tracks">
                {{{ tracks }}}
            </div>
        </div>
        <div class="album-page-section">
            <div class="album-page-section__title">Другие альбомы {{ group }}</div>
            <div class="album-page-section__wrapper_other-albums">
                {{#each albums }}
                    <div class="album-item">
                        <img class="album-item__album" src="{{ img }}">
                        <div class="album-item__title">{{ title }}</div>
                        <div class="album-item__group">{{ group }}</div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
