<div class="index-page__preview">
    <div class="index-page__preview-wrapper">
        <div class="index-page__content">
            <div class="index-page__genre">Группа дня</div>
            <div class="index-page__title">IMAGINE DRAGONS</div>
            <div class="index-page__wrapper">
                <div class="button-primary">
                    Случайный трек
                    <i class="random-track-icon fas fa-play"></i>
                </div>
                <i class="share-link fas fa-calendar-plus"></i>
                <i class="share-link fas fa-share"></i>
            </div>
        </div>
    </div>
</div>

<div class="index-page-section">
    <div class="index-page-section__title">Рекомендованные альбомы</div>
    <div class="index-page-section__wrapper_space-between">
        {{#each albums }}
            <div class="album-item">
                <a href="/album/{{ attrs.id}}"><img class="album-item__album" src="{{ attrs.poster }}"></a>
                <a href="/album/{{ attrs.id}}" class="album-item__title">{{ attrs.title }}</a>
                <a href="/artist/{{ attrs.artist_id }}" class="album-item__group">{{ attrs.artist_name }}</a>
            </div>
        {{/each}}
    </div>
</div>

<div class="index-page-sections">
    <div class="index-page-top-tracks">
        <div class="index-page-section">
            <div class="index-page-section__title">Новые песни</div>
            <div class="index-page-section__wrapper_column">
                {{{ tracklist }}}
            </div>
        </div>
        <div class="index-page-section">
            <div class="index-page-section__title">Популярные песни</div>
            <div class="index-page-section__wrapper_column">
                {{{ tracklistNew }}}
            </div>
        </div>
    </div>
</div>

<div class="index-page-section">
    <div class="index-page-section__wrapper_space-between index-page-section__article">
        <div class="article" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2.75%, rgba(17, 18, 23, 0.75) 100%), url({{ basicArticlePoster }})">
            <div class="index-page__genre">Исполнители</div>
            <div class="article-content">
                <div class="article-content__album">
                    <i class="article-content__icon fas fa-play"></i>
                    <img class="article-content__img" src="{{ basicArticleAlbum }}">
                </div>
                <div class="article-content__wrapper_column">
                    <div class="article-content__sub-title">Новый альбом</div>
                    <div class="article-content__wrapper">
                        <div class="article-content__wrapper_column">
                            <div class="article-content__title">Natural</div>
                            <div class="article-content__sub-title">14 песен, 1 час 54 минуты</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2.75%, rgba(17, 18, 23, 0.75) 100%), url({{ basicArticlePoster }}">
            <div class="index-page__genre">Исполнители</div>
            <div class="article-content">
                <div class="article-content__album">
                    <i class="article-content__icon fas fa-play"></i>
                    <img class="article-content__img" src="{{ basicArticleAlbum }}">
                </div>
                <div class="article-content__wrapper_column">
                    <div class="article-content__sub-title">Новый альбом</div>
                    <div class="article-content__wrapper">
                        <div class="article-content__wrapper_column">
                            <div class="article-content__title">Natural</div>
                            <div class="article-content__sub-title">14 песен, 1 час 54 минуты</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2.75%, rgba(17, 18, 23, 0.75) 100%), url({{ basicArticlePoster }})">
            <div class="index-page__genre">Исполнители</div>
            <div class="article-content">
                <div class="article-content__album">
                    <i class="article-content__icon fas fa-play"></i>
                    <img class="article-content__img" src="{{ basicArticleAlbum }}">
                </div>
                <div class="article-content__wrapper_column">
                    <div class="article-content__sub-title">Новый альбом</div>
                    <div class="article-content__wrapper">
                        <div class="article-content__wrapper_column">
                            <div class="article-content__title">Natural</div>
                            <div class="article-content__sub-title">14 песен, 1 час 54 минуты</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="index-page-section">
    <div class="index-page-section__title">Жанры</div>
    <div class="index-page-section__wrapper">
        {{#each genres }}
            <div class="genre-item">{{this}}</div>
        {{/each}}
    </div>
</div>
