<div class="index-page__preview">
    <div class="index-page__preview-wrapper" style="background-image: url({{ group.poster }})">
        <div class="index-page__content">
            <div class="index-page__genre">Группа дня</div>
            <div class="index-page__title">{{ group.name }}</div>
            <div class="index-page__wrapper">
                <div class="button-primary random-index-track" data-id="{{ group.id }}">
                    Случайный трек
                    <i class="random-track-icon fas fa-play"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="index-page-section">
    <div class="index-page-section__title">Рекомендованные альбомы</div>
    <div class="index-page-section__wrapper_space-between">
        {{#each albums }}
            <div class="album-item">
                <a href="/album/{{ attrs.id}}"><img class="album-item__album" src="{{ attrs.poster }}"></a>
                <a href="/album/{{ attrs.id}}" class="album-item__title">{{ attrs.title }}</a>
                <a href="/artist/{{ attrs.artist_id }}" class="album-item__group">{{ attrs.artist_name }}</a>
            </div>
        {{/each}}
    </div>
</div>

<div class="index-page-sections">
    <div class="index-page-top-tracks">
        <div class="index-page-section">
            <div class="index-page-section__title">Новые песни</div>
            <div class="index-page-section__wrapper_column">
                {{{ tracklist }}}
            </div>
        </div>
        <div class="index-page-section">
            <div class="index-page-section__title">Популярные песни</div>
            <div class="index-page-section__wrapper_column">
                {{{ tracklistNew }}}
            </div>
        </div>
    </div>
</div>

<div class="index-page-section">
    <div class="index-page-section__wrapper_space-between index-page-section__article">
        {{#each articles  }}
            <div class="article" style="background: var(--bg-linear), url({{ poster }})">
            <div class="index-page__genre">Популярный альбом</div>
            <div class="article-content">
                <div class="article-content__album album-play" data-id="{{ id }}">
                    <i class="article-content__icon fas fa-play" data-id="{{ id }}"></i>
                    <img class="article-content__img" src="{{ avatar }}" data-id="{{ id }}">
                </div>
                <div class="article-content__wrapper_column">
                    <a href="/artist/{{ artist_id }}" class="article-content__sub-title">{{ artist }}</a>
                    <div class="article-content__wrapper">
                        <div class="article-content__wrapper_column">
                            <a href="/album/{{ id }}" class="article-content__title">{{ title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {{/each}}
        </div>
</div>

<div class="index-page-section">
    <div class="index-page-section__title">Жанры</div>
    <div class="index-page-section__wrapper">
        {{#each genres }}
            <div class="genre-item">{{this}}</div>
        {{/each}}
    </div>
</div>
