<div class="playlist-page">
    <div class="playlist-page__wrapper">
        <div class="playlist-page__header">
            {{# if isAuthor }}
                <form class="form-upload-poster">
                    <label for="upload_poster">
                        <img src="{{ playlist.poster }}" class="playlist-page__poster">
                    </label>
                    <input class="form-avatar__input" type="file" name="upload_poster" id="upload_poster" accept="image/jpeg,image/png,image/jpg">
                </form>
            {{ else }}
                <img src="{{ playlist.poster }}" class="playlist-page__poster">
            {{/if}}
            <div class="playlist-page__content">
                <div class="playlist-page__info">
                    <a href="/profile/{{ author.username }}" class="playlist-page__author">
                        <div class="author__username">{{ author.username }}</div>
                    </a>
                    <div class="playlist-page__title">
                        {{ playlist.title }}
                        {{# if isAuthor }}
                            <i class="fas playlist-page__icon fa-trash"></i>
                        {{/if}}
                    </div>
                    <div class="playlist-page__play button-primary">
                        Воспроизвести
                        <i class="random-track-icon fas fa-play"></i>
                    </div>
                </div>
                <div class="playlist-page__icons">
                    <div class="playlist-page__share">
                        {{{ share }}}
                    </div>
                    {{# if isAuthor }}
                        <div class="switch-button">
                            {{# if isPublic }}
                                <div class="switch-button__label">Публичный плейлист</div>
                                <input type="checkbox" class="switch-button__input" checked>
                            {{ else }}
                                <div class="switch-button__label">Приватный плейлист</div>
                                <input type="checkbox" class="switch-button__input">
                            {{/if}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{# if isEmpty }}
            <div class="playlists-page-placeholder">
                <img src="{{ placeholder }}" class="playlists-page-placeholder__img">
                {{# if isAuthor }}
                    <div class="playlists-page-placeholder__title">Ваш плейлист пуст.<br />Добавить в него треки можно на <a href="/" class="playlists-page-placeholder__link">главной странице</a>.</div>
                {{else }}
                    <div class="playlists-page-placeholder__title">Данный плейлист пуст.</div>
                {{/if}}
                </div>
        {{else}}
            <div class="playlist-page-section">
                {{{ tracks }}}
            </div>
        {{/if}}
    </div>
</div>
